streamlit
langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-huggingface
langchain-groq
langsmith
groq
huggingface_hub
sentence-transformers
transformers
faiss-cpu
pypdf
cryptography
torch
